// Specific CSS for your home-page
.home_video {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    top: 0;
    z-index: -2;
}

.home-video-wrapper {
    height: 100vh;
    display: flex;
    position: relative;
}

h1 {
    margin-inline: auto;
    font-size: 8vh;
    color: white;
    margin-top: 6rem;
}

.home-btn {
    position: absolute;
    display: flex;
    width: 25%;
    height: 4rem;
    bottom: 15%;
    left: 37%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 15px;
    border-radius: 12px;
    border: solid 2px white;
    font-size: xx-large;
    color: white;
}

.home-btn:hover {
    border: solid red 2.6px;
    color: red;
    transition: 0.2s;
    height: 4.3rem;
    width: 28%;
}
