<div class="home-video-wrapper">
  <%= video_tag "background_landingpage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <h1 class="home"> Welcome to The best <strong>Supercar</strong> rent</h1>
  <%= link_to "View the cars", cars_path, class:"home-btn" %>
</div>
