<div class="home-video-wrapper">
  <%= video_tag "background_landingpage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <h1 class="home"> Welcome to The best <strong>Supercar</strong> rent</h1>
  <%= link_to cars_path do %>
    <button class="home-btn rounded-pill">See our cars!</button>
  <% end %>
</div>
