$background_footer_navbar: white;
.footer {
  background: $background_footer_navbar;
  height: 160px;
  color: rgba(0,0,0,0.3);
  border-top: rgba(0,0,0,0.3) solid 2px;
  text-align: center;
  justify-content: center;
}
.footer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 45px;
  margin: 20px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.margin {
  margin-top: 25px;
  font-size: 20px;
}
