.navbar-aircnc {
    display: flex;
    justify-content: space-between;
    background: rgb(192, 42, 42);
    padding: 1rem;
    color: rgb(240, 238, 238);
    margin-bottom: 15px;
}

.logo {
  color: white;
  text-decoration: none;
}
